
@font-face {
    font-family: erasLight;
    src: url(../fonts/ITC\ Eras\ Light\ Regular.otf) format("truetype");
}
@font-face {
    font-family: erasMedium;
    src: url(../fonts/eras-itc-medium.ttf) format("truetype");
}

main {
    background: #eaf1e8;
    color: black;
    position: fixed;
    top: 0;
    width: 20%;
    z-index: 500;
    margin-top: 20vh;
}

li {
    list-style-type: none;
    padding-bottom: 1em;
    padding-top: 1em;
    display: list-item;
}

.sidenav a:hover {
    color: #f7984c;
    border: none;
  }

#FA a {
    color: #f7984c;
}

#ST a {
    color: #f7984c;
}