@font-face {
    font-family: nameFont;
    src: url(../fonts/BRLNSR.TTF) format("truetype");
}

.dropbtn {
    text-align: center;
  }

.dropdown {
    position: absolute;
    right: 0;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content {display: block;}

button {
    align-items: left;
    font-family: 'erasLight', sans-serif;
    font-size: 5vh;
    margin: 0vh 5vh;
    width: 27vw;
    border-radius: 50px;
}

body, html {
    font-family: nameFont, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf1e8;
    color: #eaf1e8;
}


header {
    background: black;
    color: #eaf1e8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container1 {
    display: flex;
    flex: 1;
}

.navbar {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 30px 20px;
    font-size: 4vh;
}

.navbar a {
    font-family: erasLight, sans-serif;
    color: #eaf1e8;
    margin: 0px 10px;
    text-decoration: none;
    font-size: 2.5vh;
}

.sidenav a {
    text-decoration: none;
    font-family: 'erasMedium', sans-serif;
    color: black;
    font-size: 4vh;
    font-size: 2.5vw;
}

#VDButton {
    background-color: #258f99;
    border-width: 10px;
    border-color: #eaf1e8;
}

#DTButton {
    background-color: #eaf1e8;
    border-width: 10px;
    border-color: #eaf1e8;
}

#FAButton {
    background-color: #f7984c;
    border-width: 10px;
    border-color: #eaf1e8;
}


/*Community Quiz CS*/
.my-input {
    font-size: 20px;
    border-radius: 0px;
    background-color: rgb(132, 179, 125);
    color: rgb(38, 77, 32);
    border-color: rgb(38, 77, 32);
    margin: 0;
    margin-top: 5px;
}

.my-input:hover { 
    background-color: rgb(38, 77, 32);
    color: rgb(132, 179, 125);
}

.selected {
    background-color: rgb(38, 77, 32);
    color: rgb(132, 179, 125);
}

#Community-Quiz-Container {
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
}

#small-text {
    font-size: 13px;
    color: rgb(38, 77, 32);
}

.resize {
    margin: 20px;
}

.resize img {
    height: 150px;
    width: auto;
    margin: 0;
}

.resize img:hover {
    height: 160px;
    width: auto;
}

/* Slider Styling for Community Quiz */
input[type="range"] {
    -webkit-appearance: none; /* hide default web look*/
    width: 60%;
    height: 20px;
    outline: 2px solid rgb(38, 77, 32);
    border-radius: 20px;
    background-color: rgb(132, 179, 125);
    fill:rgb(38, 77, 32);
}

/* to change the dot on the sliders color */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: rgb(38, 77, 32); /* ← the dot color */
    cursor: pointer;
}

#drawing-slider:hover {
    background: rgb(177, 206, 172);
    outline: 2px solid rgb(74, 109, 69);
    transform: scale(1.02);
}