
@font-face {
    font-family: erasLight;
    src: url(../fonts/ITC\ Eras\ Light\ Regular.otf) format("truetype");
}
@font-face {
    font-family: erasMedium;
    src: url(../fonts/eras-itc-medium.ttf) format("truetype");
}

main {
    background: #eaf1e8;
    color: black;
    position: fixed;
    top: 0;
    width: 20%;
    z-index: 500;
    margin-top: 20vh;
}

li {
    list-style-type: none;
    padding-bottom: 1em;
    padding-top: 1em;
    display: list-item;
}

#DTButton {
    background-color: black;
    color: white;
}

.sidenav a:hover {
    color: #258f99;
    border: none;
  }

#VD a {
    color:#258f99;
}

#TD a {
    color:#258f99;
}

#S a {
    color:#258f99;
}

#CD a {
    color:#258f99;
}

body, html {
    font-family: nameFont, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf1e8;
    color: #258f99;
}


header {
    background: #eaf1e8;
    color: #258f99;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: none;
}

.navbar a {
    color: #258f99;
}
